*{
    font-family: 'Roboto', sans-serif;
}
a{
    text-decoration: none;
    color: unset;
}
.navbar{
    background-color: #0066a8;
}
.bg-color-brand{
    background-color: #00b4ee;
}
.bg-light-brand{
    background-color: #dcdcdc;
}
.text-color-brand{
    color: #00b4ee;
}
.bg-image-gradient-section{
    z-index: -1;
}
.gradient-bg{
    background-image: linear-gradient(to right, transparent , rgba(0,102,168,0.5), rgba(0,102,168,0.6));
}
.hover-list li:hover{
    background-color: #00b4ee;
    transition: 0.5s;
}
.hover-list li:hover ::before{
    content: '';
    width: 30px;
    height: 30px;
    background-color: #00b4ee;
    display: block;
    position: absolute;
    left: -15px;
    transform: rotate(45deg);
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: -1;
    transition: 0.5s;
}
.hover-list li:hover p{
    color: white;
}
.news-grid .nav-tabs .nav-link{
    background-color: #00b4ee;
    color: white;
    box-shadow: 0px -5px 10px #00000040 inset;
}
.news-grid .nav-tabs .nav-link i{
    color: white;
}
.news-grid .nav-tabs .nav-link.active{
    background-color: white;
    color: black;
    box-shadow: none;
}
.news-grid .nav-tabs .nav-link.active i{
    color: #00b4ee;
}

@media only screen and (max-width: 768px){
    .navbar-brand img{
        height: 35px;
    }
    .bg-image-gradient-section{
        display: none;
    }
    .hero-image-section{
        background-color: #00b4ee;
        padding-bottom: 50px;
    }
}